/*모달에어컨 창*/

#modalAircon {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: none;
  animation-name: animatetop;
  animation-duration: 0.4s;
  transition: all 0.5s ease-in-out;
}
#modalAircon.hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0s 0.4s; /* opacity에만 transition 적용 */
}
/* 모달 팝업 사이즈는 아래 css 수정하면 됩니다. */
#modalAirconBody {
  width: 450px; /* Full width */
  height: 480px;
  padding: 30px 30px;
  margin: 0 auto;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#modalHumidity {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: none;
  animation-name: animatetop;
  animation-duration: 0.4s;
  transition: all 0.5s ease-in-out;
}
#modalHumidity.hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0s 0.4s; /* opacity에만 transition 적용 */
}
/* 모달 팝업 사이즈는 아래 css 수정하면 됩니다. */
#modalHumidityBody {
  width: 450px; /* Full width */
  height: 480px;
  padding: 30px 30px;
  margin: 0 auto;
}
#modalRefridgerator {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: none;
  animation-name: animatetop;
  animation-duration: 0.4s;
  transition: all 0.5s ease-in-out;
}
#modalRefridgerator.hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0s 0.4s; /* opacity에만 transition 적용 */
}
/* 모달 팝업 사이즈는 아래 css 수정하면 됩니다. */
#modalRefridgeratorBody {
  width: 450px; /* Full width */
  height: 480px;
  padding: 30px 30px;
  margin: 0 auto;
}

#modalWashingMachine {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: none;
  animation-name: animatetop;
  animation-duration: 0.4s;
  transition: all 0.5s ease-in-out;
}
#modalWashingMachine.hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0s 0.4s; /* opacity에만 transition 적용 */
}
/* 모달 팝업 사이즈는 아래 css 수정하면 됩니다. */
#modalWashingMachineBody {
  width: 450px; /* Full width */
  height: 480px;
  padding: 30px 30px;
  margin: 0 auto;
}

#slider {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 60%;
  height: 20vw;
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  perspective: 1400px;
  transform-style: preserve-3d;
}

input[type="radio"] {
  visibility: hidden;
  position: relative;
  top: 108%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin: 0 15px 0 0;
  opacity: 0.4;
  transform: translateX(-83px);
  cursor: pointer;
}

input[type="radio"]:nth-child(5) {
  margin-right: 0px;
}

input[type="radio"]:checked {
  opacity: 1;
}

#slider > label {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: white;
  border-radius: 10px;
  font-size: 70px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
}
#slider label img {
  width: 60%;
  left: 0;
  top: 0;
  color: white;
  font-size: 70px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
}

/* 추가시 슬라이드 show; */

#slide3 {
  visibility: hidden;
}
#slide4 {
  visibility: hidden;
}
#slide5 {
  visibility: hidden;
}

/* Slider Functionality */

/* Active Slide */
#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
  transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(20%, 0, -100px);
}

/* Next to Next Slide */
#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(40%, 0, -250px);
}

/* Previous to Previous Slide */
#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(-40%, 0, -250px);
}

/* Previous Slide */
#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(-20%, 0, -100px);
}

#slider label >.plus-button {
  width: 40%;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}