#weather {
  display: flex;
  justify-content: space-between;
}
.white-card-header > .main-title {
  display: flex;
  justify-content: space-between;
}

.white-card-body #weather {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-info {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    130deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 197, 163, 1) 70%
  );
}
